<form class="well form-inline new-transaction">
  <h3>Insert a new Transaction</h3>
  <input id="name" type="text" class="input-small" placeholder="Name">
  <div class="input-prepend">
    <span class="add-on" style="margin-right: -5px">$</span>
    <input id="amount" type="text" class="input-small">
  </div>
  <input id="category" type="text" class="input-small" placeholder="Category">
  <input id="date" type="text" class="input-medium" placeholder="Date of Transaction">
  <button class="btn" id="new-transaction">
    <i class="icon-plus"></i>
  </button>
</form>

