<% $.each(debt, function(key, value) { %>
  <div style="display: inline-block; margin-right: 25px">
    <h4 class="debt-items"><%= value.name %></h4>
    $<%= value.amount_owed.toFixed(2) %>
  </div>
<% }) %>
